

html{overflow-y:scroll;} /* Forces a scrollbar when the viewport is larger than the websites content - CSS3 */

body{
        margin:15px; 
        padding:0;
        font-size:16px; /* Tekst groote normale tekst */
        font-family:Georgia, "Times New Roman", Times, serif; 
        color:#979797; 
        background-color:#FFFFFF;       /* Achtergrond kleur buiten het frame van de pagina */
    }


/* Groote instelling van de koppen */
/*h1 {                           OPGELET !! Het maakt niets uit omda in de body de "font-size" aanstaat die overschrijft deze code van grote
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .07em;
}*/


.clear:after{
        content:".";
        display:block; 
        height:0; 
        clear:both; 
        visibility:hidden; 
        line-height:0;
    }


.clear{
        display:block; 
        clear:both;
    }


html[xmlns] .clear{
        display:block;
    }


* html .clear{
        height:1%;
    }



a{
        outline:none; 
        text-decoration:none;
    }



code{
        font-weight:normal; 
        font-style:normal; 
        font-family:Georgia, "Times New Roman", Times, serif;
    }


.fl_left{
        float:left;
    }


.fl_right{
        float:right;
    }


img{
        margin:0;
        padding:0;
        border:none; 
        line-height:normal; 
        vertical-align:middle;
    }


.imgholder, .imgl, .imgr{
        padding:4px; 
        border:1px solid #D6D6D6; 
        text-align:center;
    }


.imgl{
        float:left; 
        margin:0 15px 15px 0; 
        clear:left;
    }


.imgr{
        float:right; 
        margin:0 0 15px 15px; 
        clear:right;
    }




/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, nav, section{
        display:block; 
        margin:0; 
        padding:0;
    }

q{
        display:block; 
        padding:0 10px 8px 10px; 
        color:#979797; 
        background-color:#ECECEC; 
        font-style:italic; 
        line-height:normal;
    }


q:before{
        content:'“ '; 
        font-size:26px;
    }


q:after{
        content:' „'; 
        font-size:26px; 
        line-height:0;
    }




/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
        display:block; 
        width:1000px; 
        margin-left: auto; /*de speling van de body naar de rand links*/
        margin-right: auto;
        padding:0; 
        text-align:left;
    }


.row1, .row1 a{
        color:#059ADD;                      /* Tekst kleur boven de afbeelding / bovenste balk */
        background-color:#FFFFFF;           /*Achtergrond kleur bovenste navigatie balk */
        font-size:14px; /* Tekst groote normale tekst */
    }            


.row2{
        color:#979797; 
        background-color:#FFFFFF;           /* Achtegrond kleur artikels en dergelijke (midden pagina) */
    }          


.row2 a{
        color:#FF9900;  /* origineel = #FF9900 */
        background-color:#FFFFFF;           /* Achtegrond kleur van de links (vb read more)*/
    }             


.row3{
        border-top:1px solid #DEDEDE;
    }


.row3, .row3 a{
        color:#979797; 
        background-color:#FFFFFF;           /* Achtergrond kleur footer */
    }            




/*---------------------------------------------- Algemeen -------------------------------------*/

#header, #container, #footer{
        display:block; 
        width:960px;
    }


nav ul{
        margin:0; 
        padding:0; 
        list-style:none;
    }



h1, h2, h3, h4, h5, h6{
        margin:0; 
        padding:0; 
        font-size:16px; 
        font-weight:bold; 
        font-style:normal; 
        line-height:normal; 
        text-transform:uppercase;
    }



address{
        font-style:normal;
    }

blockquote, q{
        display:block; 
        padding:8px 10px; 
        color:#979797; 
        background-color:#ECECEC; 
        font-style:italic; 
        line-height:normal;
    }


blockquote:before, q:before{
        content:'“ '; 
        font-size:26px;
    }


blockquote:after, q:after{
        content:' „'; 
        font-size:26px; 
        line-height:0;
    }

.one_third, .two_third, .three_third{
        display:block; 
        float:left; 
        margin:0 30px 0 0;
    }


.one_third{
        width:300px;
    }

.two_third{
        width:630px;
    }

.three_third{
        width:960px; 
        float:none; 
        margin-right:0; 
        clear:both;
    }


.lastbox{
        margin-right:0;
    }

/*----------------------------------------------Header-------------------------------------*/

#header{}

#header #hgroup{
        padding:20px 0 0 0; 
        float:left;
    }


#header #hgroup h1, #header #hgroup h2{
        font-weight:normal; 
        text-transform:none;
    }

#header #hgroup h1{
        font-size:36px;
    }


#header #hgroup h2{
        font-size:13px;
    }

#header nav{
        display:block; 
        float:right; 
        margin:20px 0 0 0; 
        padding:20px 0;
    }

#header nav ul{}

#header nav li{
        display:inline; 
        margin-right:25px; 
        text-transform:uppercase;
    }

#header nav li.last{
        margin-right:0;
    }

#header nav li a{}

#header nav li a:hover{
        color:#FF9900; 
        background-color:#FFFFFF;
    }


/*----------------------------------------------Top bar / Navigatie balk boven aan artikel zoals bij personeelslijst -------------------------------------*/

.topnav2 {
  overflow: hidden;
  /*background-color: #333;*/
  width: 750px;
}

.topnav2 a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
                                                                                                    
.topnav2 a:hover {
  background-color: #979797;
  color: #FF9900;
}

.topnav2 a.active {
  background-color: #B8B8B8;                
  color: #FF9900;
}

/*-------- DROPDOWN Knop in menu ------*/

.dropdown2 {
  float: left;
  overflow: hidden;
}

.dropdown2 .dropbtn2 {
  font-size: 17px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav2 a:hover, .dropdown2:hover .dropbtn2 {
   background-color: #979797;
  color: red;           /* Origineel kleur = #FF9900 */
}

.dropbtn2-active {
  font-size: 17px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  background-color: #B8B8B8;                
  color: red; 
    
}

.dropdown2-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: red;
  min-width: 160px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}

.dropdown2-content a {
  float: none;
  color: red;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown2-content a:hover {
  background-color: #979797;
  color: black;          /* Origineel kleur = #FF9900 */
}

.dropdown2:hover .dropdown2-content {
  display: block;
}


/*----------------------------------------------Inhouds zone-------------------------------------*/

#container{
        padding:30px 0;
    }

#container section{
        display:block; 
        width:100%; 
        margin:0 0 30px 0; 
        padding:0;
    }

#container .last{
        margin:0;
    }

#container .more{
        text-align:left;
    }


/* ------Slider-----*/

#container #slider{}



/* ------Left Column-----*/

#container #left_column{
        float:left; 
        width:280px;
    }

#container #left_column h2.title{
        margin-bottom:15px;   
        padding-bottom:15px;
        border-bottom:1px solid #DEDEDE;
    }

#container #left_column nav{
        display:block; 
        width:100%; 
        margin-bottom:30px;
    }

#container #left_column nav ul{
        margin:0; 
        padding:0; 
        list-style:none;
    }

#container #left_column nav li{
        margin:0 0 3px 0; 
        padding:0;
    }

#container #left_column nav li.last{
        margin-bottom:0;
    }

#container #left_column nav a{
        display:block; 
        margin:0; 
        padding:5px 10px 5px 20px; 
        color:#666666; 
        background:url("../images/orange_file.gif") no-repeat 10px center #FFFFFF; 
        text-decoration:none; 
        border-bottom:1px dotted #666666;
    }

#container #left_column nav a:hover{
        color:#FF9900; 
        background-color:#FFFFFF;
    }



/* ------Main Content-----*/

#container #content{
        float:right; 
        width:630px; 
        line-height:1.6em;
    }

#container #content article{
        margin-bottom:30px;
    }

#container #content .last{
        margin:0;
    }


/*----------------------------------------------Footer-------------------------------------*/

#footer{
        padding:20px 0;
        /*margin-left: 20px;*/
        margin: auto;
    }

#footer p{
        margin:0; 
        padding:0;
    }